@import "./normalize.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
  margin: 0;
}

body {
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 140%;
  font-family: -apple-system, Roboto, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -moz-osx-font-smoothing: grayscale;


}

img {
  width: 100%;
  height: auto;
  display: block;
}